.menu-izquierdo {
    display: flex;
    gap: 25px;
}

.menu-desplegable {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 767px) {
    .fechas-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-bottom: 0;
    }

    .horas-trabajadas-label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }

    .fechas-layout > * {
        width: 100%;           
        margin-bottom: 0;
    }

    .botones-layout {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center; 
        align-items: center;    
        gap: 5px;             
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;            
        text-align: center;     
    }

    .botones-layout > * {
        width: 50%; 
        margin-bottom: 0;
    }

    #vaadin-grid-cell-0 {
        width: 125px !important;
        flex-grow: 0 !important;
    }

    #vaadin-grid-cell-1 {
        width: 120px !important;
        flex-grow: 0 !important;
    }
	
	.menu-izquierdo {
	    display: none !important;
	}

	.menu-desplegable {
	    display: inline-block !important;
	}
	
	.header-responsive {
	    justify-content: space-between !important;
	}
}
